

p {
    color: black;
}

h2 {
    font-size: 24px;
        padding-top: 5px;
    font-family: verdana;
}

h3 {
    font-size: 22px;
    padding-top: 5px;
    font-family: verdana;
    font-style: italic;
}


h1 {
    font-size: 28px;
    font-family: verdana;
    text-align: center;
    padding: 5px 5px;
}

thead {
    color:blue;
}
tbody {
    color:red;
}
tfoot {
    color:red;
}



.Pyhton {
margin: 0 auto;
max-width: 40%;
max-width: 40%;
}

.Pyhton:hover {
    margin: 0 auto;
    width: 400px;
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
}

.bvb {
margin: 0 auto;
}

#headingOne {
font-weight: bold;
}

.navbar {
background-color: blue;
}


.container-fluid {
width: 100%;
margin: 0 auto;
}

.SEA, .SEO, .guertel , .python_slider {
width: 100% !important;
margin: 0 auto;
}


.carousel-control-next, .carousel-control-prev {
height: 70px;
color: #000;
background-color: #000;

}

#carouselExampleIndicators {
background-color: #000;
}

.carousel-indicators li {
background-color: blue;
height: 50px;
}

.margin-allcontent {
margin: 50px auto;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;
position: relative;
}

carousel-item active {
width: 85%;
}

.card-img-top {
height: 240px;
max-width: 75%;
margin: 0 auto;

}