

p {
    color: green;
}

h2 {
    font-size: 24px;
}

h1 {
    font-size: 28px;
}

thead {
    color:blue;
}
tbody {
    color:red;
}
tfoot {
    color:red;
}

img {
padding: 50px;
margin: 0 auto;
}
