

p {
    color: green;
}

h2 {
    font-size: 24px;
}

h1 {
    font-size: 28px;
}

thead {
    color:blue;
}
tbody {
    color:red;
}
tfoot {
    color:red;
}
cd /Users/jkopetschke/smartninja_2018/WD1_Homework
